<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy.MM.dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="no.difi.sdp.client" level="WARN" />
	<logger name="no.digipost.api.MessageSender" level="WARN" />
	<logger name="mf.logger.translog" level="WARN" />
	<logger name="no.difi" level="TRACE" />


	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>